@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
   @apply bg-slate-100 text-slate-700;
   line-height: 1;
}

main {
   @apply min-h-screen p-4 pb-20;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

h1 {
   @apply text-3xl font-bold;
}

h2 {
   @apply text-2xl font-semibold;
}

h3 {
   @apply text-xl font-semibold;
}

h4 {
   @apply text-lg font-medium;
}

h5 {
   @apply text-base font-medium;
}

h6 {
   @apply text-sm font-medium;
}

.card {
   @apply bg-white shadow rounded;
}

/* On mobile */
@media (max-width: 640px) {
   .Toastify__toast-container {
      @apply p-4 gap-2 !important;
   }

   .Toastify__toast {
      @apply overflow-hidden rounded-md !important;
   }
}

.form {
   @apply flex flex-col gap-4 bg-white rounded-lg p-4 shadow-md;
}
